.code-editor {
  display: flex;
}

.line-numbers {
  counter-reset: line;
  padding: 10px;
  border-right: 1px solid #ccc;
  background-color: #f6f6f6;
}

.line-number {
  display: block;
  counter-increment: line;
  padding: 3px 5px;
  color: #999;
}


.code-input {
  flex-grow: 1;
  padding: 10px;
  font-family: monospace;
  border: none;
  outline: none;
  resize: none;
}
